<h1>Editing workexperience</h1>

<%= render "form", workexperience: @workexperience %>

<br>

<div>
  <%= link_to "Show this workexperience", @workexperience %> |
  <%= link_to "Back to workexperiences", workexperiences_path %>
</div>
