<h6>If you are not redirected automatically, follow <a href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard ">this link</a>.</h6>
<div class="row">
  <div class="col-lg-7 position-relative z-index-2">
    <div class="card card-plain mb-4">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex flex-column h-100">
              <h2 class="font-weight-bolder mb-0">General Statistics</h2>
           </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <% @generals.each do |p| %>
        <div class="col-lg-5 col-sm-5">
          <div class="card  mb-2">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><%= p.name %></p>
                <h4 class="mb-0"><%= p.people %></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder"><%= p.description %></span></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
           
           
           
           
           
            